.content-nav{
	padding: em(24px) 1.5%;
	width:100%;
}
.main-header{
	position:fixed;
	top:0;
	z-index:999;
	width:100%;
	padding: em(24px) 0;
	background:transparent;
	overflow:hidden;
	opacity:1;
}
.logo {
    font-size: $header-font-size;
    text-transform: uppercase;
    float: left;
    display: block;
    @media only screen and (max-width: 766px) {
        & {
            float: none;
        }
    }
}
nav{
	float:right;
	width:60%;
	@media only screen and (max-width: 766px) {
        & {
            width: 100%;
        }
    }
    ul{
    	float:right;
    	text-align:right;
    	overflow:hidden;

    	li{
    		position:relative;
    		display:inline-block;
    	}
    }
}